body {
    background-color: hsl(0, 100%, 82%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

h1 {
    color: #000000;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    background-color: hsl(223, 100%, 76%);
    color: hsl(210, 6%, 6%);
    font-size: 200%;
    text-decoration: underline;
}

h3 {
    background-color: hsl(223, 100%, 76%);
    color: hsl(180, 20%, 1%);
    font-size: 130%;
    font-style: italic;
    text-transform: uppercase;
}

p {
    background-color: hsl(202, 83%, 77%);
    text-align: justify;
}

em {
    color: hsl(247, 100%, 66%);
    font-style: normal;
    font-weight: bold;
}

strong {
    color: hsl(0, 100%, 50%);
    font-weight: italic;
}

address {
    background-color: rgb(68, 221, 255);
    font-weight: bold;
    text-align: right;
}

div{
    text-align: center;
}

#tabla {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tabla td, #tabla th {
    border: 1px solid #000000;
    padding: 8px;
}

#tabla tr:nth-child(even){background-color: #ffbdbd;}
#tabla tr:nth-child(odd){background-color: #ffffff;}

#tabla tr:hover {background-color: #d2c809;}

#tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ff4747;
    color: white;
}